 .u-section-1 {
  background-image: url("images/1-5.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2222px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1832px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1403px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-bottom: 0;
  }
} .u-section-2 {
  background-image: url("images/2.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 2222px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1832px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1403px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1052px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 790px;
  }
} .u-section-3 {
  background-image: url("images/3.gif");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 790px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 374px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }
} .u-section-4 {
  background-image: url("images/4.gif");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 2222px;
}

.u-section-4 .u-countdown-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 1033px auto 60px;
}

.u-section-4 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-4 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-4 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-4 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-4 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-4 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-4 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4 .u-countdown-1 {
    margin-top: 476px;
  }
} .u-section-5 {
  background-image: url("images/5.gif");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 2222px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
  box-shadow: 5px 5px 20px 0px rgba(26,26,26,0.4);
  margin: 1573px auto 60px;
}

.u-section-5 .u-icon-1 {
  font-size: 0.7em;
  color: rgb(215, 90, 74) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-5 .u-btn-1 {
    font-weight: 700;
    margin-top: 472px;
    padding: 7px 26px 8px 25px;
  }
} .u-section-6 {
  background-image: url("images/61.gif");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 2222px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 1422px auto 60px;
}

.u-section-6 .u-icon-1 {
  font-size: 0.7em;
  color: rgb(215, 90, 74) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-6 .u-btn-1 {
    font-weight: 700;
    margin-top: 297px;
    padding: 7px 26px 8px 25px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 4px;
  }
}position: fixed;